/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
/* line 7, ../scss/_nouislider.scss */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/_nouislider.scss */
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 21, ../scss/_nouislider.scss */
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

/* line 28, ../scss/_nouislider.scss */
.noUi-handle {
  position: relative;
  z-index: 1;
}

/* line 32, ../scss/_nouislider.scss */
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}

/* line 37, ../scss/_nouislider.scss */
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1;
}

/* line 42, ../scss/_nouislider.scss */
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

/* line 46, ../scss/_nouislider.scss */
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
/* line 52, ../scss/_nouislider.scss */
.noUi-horizontal {
  height: 18px;
}

/* line 55, ../scss/_nouislider.scss */
.noUi-horizontal .noUi-handle {
  width: 32px;
  height: 20px;
  left: -16px;
  top: -6px;
}

/* line 61, ../scss/_nouislider.scss */
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

/* line 64, ../scss/_nouislider.scss */
.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}

/* line 67, ../scss/_nouislider.scss */
.noUi-vertical {
  width: 18px;
}

/* line 70, ../scss/_nouislider.scss */
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

/* line 76, ../scss/_nouislider.scss */
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}

/* line 79, ../scss/_nouislider.scss */
.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}

/* Styling;
 */
/* line 85, ../scss/_nouislider.scss */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

/* line 89, ../scss/_nouislider.scss */
.noUi-connect {
  background: #3498DB;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

/* line 95, ../scss/_nouislider.scss */
.noUi-origin {
  border-radius: 2px;
}

/* line 98, ../scss/_nouislider.scss */
.noUi-target {
  border-radius: 4px;
  border: 1px solid lightgrey;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}

/* line 103, ../scss/_nouislider.scss */
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}

/* Handles and cursors;
 */
/* line 109, ../scss/_nouislider.scss */
.noUi-dragable {
  cursor: w-resize;
}

/* line 112, ../scss/_nouislider.scss */
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

/* line 115, ../scss/_nouislider.scss */
.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px white, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}

/* line 124, ../scss/_nouislider.scss */
.noUi-active {
  box-shadow: inset 0 0 1px white, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}

/* Handle stripes;
 */
/* line 133, ../scss/_nouislider.scss */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 2px;
}

/* line 143, ../scss/_nouislider.scss */
.noUi-handle:after {
  left: 16px;
}

/* line 147, ../scss/_nouislider.scss */
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

/* line 153, ../scss/_nouislider.scss */
.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
/* line 160, ../scss/_nouislider.scss */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

/* line 163, ../scss/_nouislider.scss */
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Blocked state;
 */
/* line 170, ../scss/_nouislider.scss */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
  background: #4FDACF;
}

/*
progre(c)ss - http://jh3y.github.io/progre-c-ss
Licensed under the MIT license

Jhey Tompkins (c) 2014

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* line 25, ../scss/_progrecss.scss */
.progrecss {
  display: block;
  position: relative;
}

/* line 29, ../scss/_progrecss.scss */
.progrecss[data-progrecss]:after, .progrecss[data-progrecss-mock]:after {
  content: "";
  display: block;
  position: absolute;
  transition: width 1s ease 0s;
  -webkit-transition: width 1s ease 0s;
  background-color: #3498db;
  box-shadow: 0 0 1px #3498db;
  opacity: 0.6;
  height: 4px;
  border-radius: 0;
  top: 0;
}

/* line 42, ../scss/_progrecss.scss */
.progrecss[data-progrecss].bottom:after, .progrecss[data-progrecss-mock].bottom:after {
  top: 100%;
}

/* line 45, ../scss/_progrecss.scss */
.progrecss[data-progrecss].fixed:after, .progrecss[data-progrecss-mock].fixed:after {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 50, ../scss/_progrecss.scss */
.progrecss[data-progrecss].fixed.bottom:after, .progrecss[data-progrecss-mock].fixed.bottom:after {
  position: fixed;
  top: 100%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="0"]:after {
  width: 0%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="1"]:after {
  width: 1%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="2"]:after {
  width: 2%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="3"]:after {
  width: 3%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="4"]:after {
  width: 4%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="5"]:after {
  width: 5%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="6"]:after {
  width: 6%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="7"]:after {
  width: 7%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="8"]:after {
  width: 8%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="9"]:after {
  width: 9%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="10"]:after {
  width: 10%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="11"]:after {
  width: 11%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="12"]:after {
  width: 12%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="13"]:after {
  width: 13%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="14"]:after {
  width: 14%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="15"]:after {
  width: 15%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="16"]:after {
  width: 16%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="17"]:after {
  width: 17%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="18"]:after {
  width: 18%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="19"]:after {
  width: 19%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="20"]:after {
  width: 20%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="21"]:after {
  width: 21%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="22"]:after {
  width: 22%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="23"]:after {
  width: 23%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="24"]:after {
  width: 24%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="25"]:after {
  width: 25%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="26"]:after {
  width: 26%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="27"]:after {
  width: 27%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="28"]:after {
  width: 28%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="29"]:after {
  width: 29%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="30"]:after {
  width: 30%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="31"]:after {
  width: 31%;
}

/* line 56, ../scss/_progrecss.scss */
.progrecss[data-progrecss="32